In [1]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import (year, month, dayofmonth, hour, weekofyear, 
                                   date_format, udf, col)


config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

In [4]:
# import boto3
# s3 = boto3.resource('s3', aws_access_key_id=os.environ['AWS_ACCESS_KEY_ID'], aws_secret_access_key=os.environ['AWS_SECRET_ACCESS_KEY'])
# my_bucket = s3.Bucket('udacity-dend')

# i=0
# for my_bucket_object in my_bucket.objects.filter(Prefix='log_data/').all(): #.all()
#     i+=1
#     print(my_bucket_object)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [3]:
spark = SparkSession \
    .builder \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
    .getOrCreate()

# Song Table

In [4]:
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, LongType, TimestampType

song_schema = StructType([
    StructField("num_songs",        IntegerType()),
    StructField("artist_id",        StringType()),
    StructField("artist_latitude",  DoubleType()),
    StructField("artist_longitude", DoubleType()),
    StructField("artist_location",  StringType()),
    StructField("artist_name",      StringType()),
    StructField("song_id",          StringType()),
    StructField("title",            StringType()),
    StructField("duration",         DoubleType()),
    StructField("year",             IntegerType()),
])

song_data_df = spark.read.json("data/song_data/*/*/*/*.json", schema=song_schema)
song_data_df.printSchema()
song_data_df.show(5)

root
 |-- num_songs: integer (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)

+---------+------------------+---------------+----------------+-----------------+--------------------+------------------+--------------------+---------+----+
|num_songs|         artist_id|artist_latitude|artist_longitude|  artist_location|         artist_name|           song_id|               title| duration|year|
+---------+------------------+---------------+----------------+-----------------+--------------------+------------------+--------------------+---------+----+
|        1|ARDR4AC1187FB371A1|           null|            null|                 |Montserrat Caball...|SOBAYLL12A8C138AF9|Sono andati? Fing...|511.16363|   0|
|        1|AREBBGV1187FB523D2|           null|            null|      Houston, TX|Mike Jones (Featu...|SOOLYAZ12A6701F4A6|Laws Patrolling (...|173.66159|   0|
|        1|ARMAC4T1187FB3FA4C|       40.82624|       -74.47995|Morris Plains, NJ|The Dillinger Esc...|SOBBUGU12A8C13E95D|Setting Fire to S...|207.77751|2004|
|        1|ARPBNLO1187FB3D52F|       40.71455|       -74.00712|     New York, NY|            Tiny Tim|SOAOIBZ12AB01815BE|I Hold Your Hand ...| 43.36281|2000|
|        1|ARDNS031187B9924F0|       32.67828|       -83.22295|          Georgia|          Tim Wilson|SONYPOM12A8C13B2D7|I Think My Wife I...|186.48771|2005|
+---------+------------------+---------------+----------------+-----------------+--------------------+------------------+--------------------+---------+----+
only showing top 5 rows

In [9]:
from pyspark.sql.functions import from_unixtime, col

log_schema = StructType([
    StructField("artist",        StringType()),
    StructField("auth",          StringType()),
    StructField("firstName",     StringType()),
    StructField("gender",        StringType()),
    StructField("itemInSession", LongType()),
    StructField("lastName",      IntegerType()),
    StructField("length",        DoubleType()),
    StructField("level",         StringType()),
    StructField("location",      StringType()),
    StructField("method",        StringType()),
    StructField("page",          StringType()),
    StructField("registration",  DoubleType()),
    StructField("sessionId",     DoubleType()),
    StructField("song",          StringType()),
    StructField("status",        IntegerType()),
    StructField("ts",            TimestampType()),
    StructField("userAgent",     IntegerType()),
    StructField("userId",        LongType()),
])

log_data_df = spark.read.json("data/log_data/*/*/*.json")
log_data_df = log_data_df.where(col("page")=="NextSong")
log_data_df = log_data_df.withColumn("datetime", from_unixtime(col("ts")/1000))
log_data_df.printSchema()
log_data_df.show(5)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- datetime: string (nullable = true)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+-------------------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|           datetime|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+-------------------+
|   Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:30:26|
|The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|     The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:41:21|
|      Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|            Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:45:41|
|Sony Wonder|Logged In|   Samuel|     M|            0|Gonzalez|218.06975| free|Houston-The Woodl...|   PUT|NextSong|1.540492941796E12|      597|           Blackbird|   200|1542253449796|"Mozilla/5.0 (Mac...|    61|2018-11-15 03:44:09|
|  Van Halen|Logged In|    Tegan|     F|            2|  Levine|289.38404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Best Of Both Worl...|   200|1542260935796|"Mozilla/5.0 (Mac...|    80|2018-11-15 05:48:55|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+-------------------+
only showing top 5 rows

# Tables for SQL in Spark

In [10]:
song_data_df.createOrReplaceTempView("song_data")

In [11]:
log_data_df.createOrReplaceTempView("log_data")

### Songs

In [12]:
# songs = song_data_df.select("song_id", "title", "artist_id", "year", "duration") \
#                     .where("song_id is not null") \
#                     .dropDuplicates() \
#                     .show(5)

In [13]:
songs = spark.sql("""
    SELECT DISTINCT
           s.song_id   as song_id
         , s.title     as title
         , s.artist_id as artist_id
         , s.year      as year
         , s.duration  as duration
    FROM song_data s
    WHERE s.song_id IS NOT NULL
""")
songs.show(5)

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOBBXLX12A58A79DDA|Erica (2005 Digit...|AREDBBQ1187B98AFF5|   0|138.63138|
|SOUDSGM12AC9618304|Insatiable (Instr...|ARNTLGG11E2835DDB9|   0|266.39628|
|SOBCOSW12A8C13D398|  Rumba De Barcelona|AR7SMBG1187B9B9066|   0|218.38322|
|SOZCTXZ12AB0182364|      Setanta matins|AR5KOSW1187FB35FF4|   0|269.58322|
|SOBZBAZ12A6D4F8742|      Spanish Grease|AROUOZZ1187B9ABE51|1997|168.25424|
+------------------+--------------------+------------------+----+---------+
only showing top 5 rows

### Artists

In [14]:
# artists = song_data_df.select("artist_id", F.col("artist_name").alias("name"), F.col("artist_location").alias("location"), 
#                               F.col("artist_latitude").alias("latitude"), F.col("artist_longitude").alias("longitude")) \
#                       .where("artist_id is not null") \
#                       .dropDuplicates() \
#                       .show(5)

In [15]:
artists = spark.sql("""
    SELECT DISTINCT
           s.artist_id        as artist_id
         , s.artist_name      as name
         , s.artist_location  as location
         , s.artist_latitude  as latitude
         , s.artist_longitude as longitude
    FROM song_data s
    WHERE s.artist_id IS NOT NULL
""")
artists.show(5)

+------------------+------------+---------------+--------+----------+
|         artist_id|        name|       location|latitude| longitude|
+------------------+------------+---------------+--------+----------+
|ARPBNLO1187FB3D52F|    Tiny Tim|   New York, NY|40.71455| -74.00712|
|ARBEBBY1187B9B43DB|   Tom Petty|Gainesville, FL|    null|      null|
|AR0IAWL1187B9A96D0|Danilo Perez|         Panama|  8.4177| -80.11278|
|ARMBR4Y1187B9990EB|David Martin|California - SF|37.77916|-122.42005|
|ARD0S291187B9B7BF5|     Rated R|           Ohio|    null|      null|
+------------------+------------+---------------+--------+----------+
only showing top 5 rows

### Users

In [16]:
users = spark.sql("""
    SELECT DISTINCT 
           e.userId    as user_id
         , e.firstName as first_name
         , e.lastName  as last_name
         , e.gender    as gender
         , e.level     as level
    FROM log_data e
    WHERE e.userId IS NOT NULL
""")
users.show(5)

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     98|    Jordyn|   Powell|     F| free|
|     34|    Evelin|    Ayala|     F| free|
|     85|   Kinsley|    Young|     F| paid|
|     38|    Gianna|    Jones|     F| free|
|     85|   Kinsley|    Young|     F| free|
+-------+----------+---------+------+-----+
only showing top 5 rows

### Time

In [17]:
from pyspark.sql.functions import hour, dayofmonth, weekofyear, month, year, dayofweek

time = spark.sql("""
    SELECT DISTINCT
           e.datetime           as start_time
         , hour(datetime)       as hour
         , day(datetime)        as day
         , weekofyear(datetime) as week
         , dayofmonth(datetime) as month
         , year(datetime)       as year
         , CASE WHEN dayofweek(datetime) in (1,7) THEN FALSE ELSE TRUE END as weekday
    FROM log_data e
    WHERE e.ts IS NOT NULL
""")
time.show(5)

+-------------------+----+---+----+-----+----+-------+
|         start_time|hour|day|week|month|year|weekday|
+-------------------+----+---+----+-----+----+-------+
|2018-11-15 11:39:32|  11| 15|  46|   15|2018|   true|
|2018-11-15 15:16:39|  15| 15|  46|   15|2018|   true|
|2018-11-15 17:37:32|  17| 15|  46|   15|2018|   true|
|2018-11-15 22:10:08|  22| 15|  46|   15|2018|   true|
|2018-11-21 07:21:43|   7| 21|  47|   21|2018|   true|
+-------------------+----+---+----+-----+----+-------+
only showing top 5 rows

### Songplay

In [18]:
from pyspark.sql.functions import lower, monotonically_increasing_id

songplay = spark.sql("""
    SELECT DISTINCT
           row_number() over (order by monotonically_increasing_id()) as songplay_id
         , e.datetime  as start_time
         , e.userId    as user_id
         , e.level     as level
         , s.song_id   as song_id
         , s.artist_id as artist_id
         , e.sessionId as session_id
         , e.location  as location
         , e.userAgent as user_agent
    FROM log_data e
    JOIN song_data s ON (
        lower(e.artist) = lower(s.artist_name)
        AND lower(e.song) = lower(s.title)
        AND e.length = s.duration
    )
""")
songplay.show()

+-----------+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|songplay_id|         start_time|user_id|level|           song_id|         artist_id|session_id|            location|          user_agent|
+-----------+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|          1|2018-11-21 21:56:47|     15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|       818|Chicago-Napervill...|"Mozilla/5.0 (X11...|
+-----------+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+

In [19]:
# songplay.withColumn("year", year("start_time")) \
#         .withColumn("month", month("start_time")) \
#         .write.partitionBy("year", "month") \
#         .mode("overwrite") \
#         .parquet("output/")

# ETL.py

In [ ]:
!spark-submit etl.py

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
:: loading settings :: url = jar:file:/opt/spark-2.4.3-bin-hadoop2.7/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
org.apache.hadoop#hadoop-aws added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-3be7a5a2-c478-4cab-9da5-6e25c136427e;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;2.7.0 in central
	found org.apache.hadoop#hadoop-common;2.7.0 in central
	found org.apache.hadoop#hadoop-annotations;2.7.0 in central
	found com.google.guava#guava;11.0.2 in central
	found com.google.code.findbugs#jsr305;3.0.0 in central
	found commons-cli#commons-cli;1.2 in central
	found org.apache.commons#commons-math3;3.1.1 in central
	found xmlenc#xmlenc;0.52 in central
	found commons-httpclient#commons-httpclient;3.1 in central
	found commons-logging#commons-logging;1.1.3 in central
	found commons-codec#commons-codec;1.4 in central
	found commons-io#commons-io;2.4 in central
	found commons-net#commons-net;3.1 in central
	found commons-collections#commons-collections;3.2.1 in central
	found javax.servlet#servlet-api;2.5 in central
	found org.mortbay.jetty#jetty;6.1.26 in central
	found org.mortbay.jetty#jetty-util;6.1.26 in central
	found com.sun.jersey#jersey-core;1.9 in central
	found com.sun.jersey#jersey-json;1.9 in central
	found org.codehaus.jettison#jettison;1.1 in central
	found com.sun.xml.bind#jaxb-impl;2.2.3-1 in central
	found javax.xml.bind#jaxb-api;2.2.2 in central
	found javax.xml.stream#stax-api;1.0-2 in central
	found javax.activation#activation;1.1 in central
	found org.codehaus.jackson#jackson-core-asl;1.9.13 in central
	found org.codehaus.jackson#jackson-mapper-asl;1.9.13 in central
	found org.codehaus.jackson#jackson-jaxrs;1.9.13 in central
	found org.codehaus.jackson#jackson-xc;1.9.13 in central
	found com.sun.jersey#jersey-server;1.9 in central
	found asm#asm;3.2 in central
	found log4j#log4j;1.2.17 in central
	found net.java.dev.jets3t#jets3t;0.9.0 in central
	found org.apache.httpcomponents#httpclient;4.2.5 in central
	found org.apache.httpcomponents#httpcore;4.2.5 in central
	found com.jamesmurty.utils#java-xmlbuilder;0.4 in central
	found commons-lang#commons-lang;2.6 in central
	found commons-configuration#commons-configuration;1.6 in central
	found commons-digester#commons-digester;1.8 in central
	found commons-beanutils#commons-beanutils;1.7.0 in central
	found commons-beanutils#commons-beanutils-core;1.8.0 in central
	found org.slf4j#slf4j-api;1.7.10 in central
	found org.apache.avro#avro;1.7.4 in central
	found com.thoughtworks.paranamer#paranamer;2.3 in central
	found org.xerial.snappy#snappy-java;1.0.4.1 in central
	found org.apache.commons#commons-compress;1.4.1 in central
	found org.tukaani#xz;1.0 in central
	found com.google.protobuf#protobuf-java;2.5.0 in central
	found com.google.code.gson#gson;2.2.4 in central
	found org.apache.hadoop#hadoop-auth;2.7.0 in central
	found org.apache.directory.server#apacheds-kerberos-codec;2.0.0-M15 in central
	found org.apache.directory.server#apacheds-i18n;2.0.0-M15 in central
	found org.apache.directory.api#api-asn1-api;1.0.0-M20 in central
	found org.apache.directory.api#api-util;1.0.0-M20 in central
	found org.apache.zookeeper#zookeeper;3.4.6 in central
	found org.slf4j#slf4j-log4j12;1.7.10 in central
	found io.netty#netty;3.6.2.Final in central
	found org.apache.curator#curator-framework;2.7.1 in central
	found org.apache.curator#curator-client;2.7.1 in central
	found com.jcraft#jsch;0.1.42 in central
	found org.apache.curator#curator-recipes;2.7.1 in central
	found org.apache.htrace#htrace-core;3.1.0-incubating in central
	found javax.servlet.jsp#jsp-api;2.1 in central
	found jline#jline;0.9.94 in central
	found junit#junit;4.11 in central
	found org.hamcrest#hamcrest-core;1.3 in central
	found com.fasterxml.jackson.core#jackson-databind;2.2.3 in central
	found com.fasterxml.jackson.core#jackson-annotations;2.2.3 in central
	found com.fasterxml.jackson.core#jackson-core;2.2.3 in central
	found com.amazonaws#aws-java-sdk;1.7.4 in central
	found joda-time#joda-time;2.10.13 in central
	[2.10.13] joda-time#joda-time;[2.2,)
:: resolution report :: resolve 4695ms :: artifacts dl 108ms
	:: modules in use:
	asm#asm;3.2 from central in [default]
	com.amazonaws#aws-java-sdk;1.7.4 from central in [default]
	com.fasterxml.jackson.core#jackson-annotations;2.2.3 from central in [default]
	com.fasterxml.jackson.core#jackson-core;2.2.3 from central in [default]
	com.fasterxml.jackson.core#jackson-databind;2.2.3 from central in [default]
	com.google.code.findbugs#jsr305;3.0.0 from central in [default]
	com.google.code.gson#gson;2.2.4 from central in [default]
	com.google.guava#guava;11.0.2 from central in [default]
	com.google.protobuf#protobuf-java;2.5.0 from central in [default]
	com.jamesmurty.utils#java-xmlbuilder;0.4 from central in [default]
	com.jcraft#jsch;0.1.42 from central in [default]
	com.sun.jersey#jersey-core;1.9 from central in [default]
	com.sun.jersey#jersey-json;1.9 from central in [default]
	com.sun.jersey#jersey-server;1.9 from central in [default]
	com.sun.xml.bind#jaxb-impl;2.2.3-1 from central in [default]
	com.thoughtworks.paranamer#paranamer;2.3 from central in [default]
	commons-beanutils#commons-beanutils;1.7.0 from central in [default]
	commons-beanutils#commons-beanutils-core;1.8.0 from central in [default]
	commons-cli#commons-cli;1.2 from central in [default]
	commons-codec#commons-codec;1.4 from central in [default]
	commons-collections#commons-collections;3.2.1 from central in [default]
	commons-configuration#commons-configuration;1.6 from central in [default]
	commons-digester#commons-digester;1.8 from central in [default]
	commons-httpclient#commons-httpclient;3.1 from central in [default]
	commons-io#commons-io;2.4 from central in [default]
	commons-lang#commons-lang;2.6 from central in [default]
	commons-logging#commons-logging;1.1.3 from central in [default]
	commons-net#commons-net;3.1 from central in [default]
	io.netty#netty;3.6.2.Final from central in [default]
	javax.activation#activation;1.1 from central in [default]
	javax.servlet#servlet-api;2.5 from central in [default]
	javax.servlet.jsp#jsp-api;2.1 from central in [default]
	javax.xml.bind#jaxb-api;2.2.2 from central in [default]
	javax.xml.stream#stax-api;1.0-2 from central in [default]
	jline#jline;0.9.94 from central in [default]
	joda-time#joda-time;2.10.13 from central in [default]
	junit#junit;4.11 from central in [default]
	log4j#log4j;1.2.17 from central in [default]
	net.java.dev.jets3t#jets3t;0.9.0 from central in [default]
	org.apache.avro#avro;1.7.4 from central in [default]
	org.apache.commons#commons-compress;1.4.1 from central in [default]
	org.apache.commons#commons-math3;3.1.1 from central in [default]
	org.apache.curator#curator-client;2.7.1 from central in [default]
	org.apache.curator#curator-framework;2.7.1 from central in [default]
	org.apache.curator#curator-recipes;2.7.1 from central in [default]
	org.apache.directory.api#api-asn1-api;1.0.0-M20 from central in [default]
	org.apache.directory.api#api-util;1.0.0-M20 from central in [default]
	org.apache.directory.server#apacheds-i18n;2.0.0-M15 from central in [default]
	org.apache.directory.server#apacheds-kerberos-codec;2.0.0-M15 from central in [default]
	org.apache.hadoop#hadoop-annotations;2.7.0 from central in [default]
	org.apache.hadoop#hadoop-auth;2.7.0 from central in [default]
	org.apache.hadoop#hadoop-aws;2.7.0 from central in [default]
	org.apache.hadoop#hadoop-common;2.7.0 from central in [default]
	org.apache.htrace#htrace-core;3.1.0-incubating from central in [default]
	org.apache.httpcomponents#httpclient;4.2.5 from central in [default]
	org.apache.httpcomponents#httpcore;4.2.5 from central in [default]
	org.apache.zookeeper#zookeeper;3.4.6 from central in [default]
	org.codehaus.jackson#jackson-core-asl;1.9.13 from central in [default]
	org.codehaus.jackson#jackson-jaxrs;1.9.13 from central in [default]
	org.codehaus.jackson#jackson-mapper-asl;1.9.13 from central in [default]
	org.codehaus.jackson#jackson-xc;1.9.13 from central in [default]
	org.codehaus.jettison#jettison;1.1 from central in [default]
	org.hamcrest#hamcrest-core;1.3 from central in [default]
	org.mortbay.jetty#jetty;6.1.26 from central in [default]
	org.mortbay.jetty#jetty-util;6.1.26 from central in [default]
	org.slf4j#slf4j-api;1.7.10 from central in [default]
	org.slf4j#slf4j-log4j12;1.7.10 from central in [default]
	org.tukaani#xz;1.0 from central in [default]
	org.xerial.snappy#snappy-java;1.0.4.1 from central in [default]
	xmlenc#xmlenc;0.52 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   70  |   1   |   0   |   0   ||   70  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-3be7a5a2-c478-4cab-9da5-6e25c136427e
	confs: [default]
	0 artifacts copied, 70 already retrieved (0kB/50ms)
21/12/05 18:37:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [209]:
for table in os.listdir("output"):
    print(120*"-")
    print("TABLE: ",table)
    df_etl = spark.read.parquet("output/" + str(table))
    df_etl.printSchema()
    df_etl.show(10)
    
    print(120*"-")

------------------------------------------------------------------------------------------------------------------------
TABLE:  users
root
 |-- user_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     88|  Mohammad|Rodriguez|     M| free|
|     88|  Mohammad|Rodriguez|     M| paid|
|     11| Christian|   Porter|     F| free|
|     75|    Joseph|Gutierrez|     M| free|
|     77| Magdalene|   Herman|     F| free|
|     69|  Anabelle|  Simpson|     F| free|
|     53|   Celeste| Williams|     F| free|
|     61|    Samuel| Gonzalez|     M| free|
|      2|   Jizelle| Benjamin|     F| free|
|     45|  Dominick|   Norris|     M| free|
+-------+----------+---------+------+-----+
only showing top 10 rows

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
TABLE:  artists
root
 |-- artist_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

+------------------+--------------------+--------------------+--------+---------+
|         artist_id|                name|            location|latitude|longitude|
+------------------+--------------------+--------------------+--------+---------+
|ARMAC4T1187FB3FA4C|The Dillinger Esc...|   Morris Plains, NJ|40.82624|-74.47995|
|AROUOZZ1187B9ABE51|         Willie Bobo|New York, NY [Spa...|40.79195|-73.94512|
|ARI2JSK1187FB496EF|Nick Ingman;Gavyn...|     London, England|51.50632| -0.12714|
|AREBBGV1187FB523D2|Mike Jones (Featu...|         Houston, TX|    null|     null|
|ARD842G1187B997376|          Blue Rodeo|Toronto, Ontario,...|43.64856|-79.38533|
|ARDR4AC1187FB371A1|Montserrat Caball...|                    |    null|     null|
|AR47JEX1187B995D81|        SUE THOMPSON|          Nevada, MO|37.83721|-94.35868|
|AR0RCMP1187FB3F427|    Billie Jo Spears|        Beaumont, TX|30.08615|-94.10158|
|ARIG6O41187B988BDD|     Richard Souther|       United States|37.16793|-95.84502|
|ARGSJW91187B9B1D6B|        JennyAnyKind|      North Carolina|35.21962|-80.01955|
+------------------+--------------------+--------------------+--------+---------+
only showing top 10 rows

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
TABLE:  songplays
root
 |-- songplay_id: integer (nullable = true)
 |-- start_time: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- level: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- session_id: long (nullable = true)
 |-- location: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+-----------+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+----+-----+
|songplay_id|         start_time|user_id|level|           song_id|         artist_id|session_id|            location|          user_agent|year|month|
+-----------+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+----+-----+
|          1|2018-11-21 21:56:47|     15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|       818|Chicago-Napervill...|"Mozilla/5.0 (X11...|2018|   11|
+-----------+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+----+-----+

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
TABLE:  time
root
 |-- start_time: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- weekday: boolean (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+-------------------+----+---+----+-------+----+-----+
|         start_time|hour|day|week|weekday|year|month|
+-------------------+----+---+----+-------+----+-----+
|2018-11-21 01:03:13|   1| 21|  47|   true|2018|   21|
|2018-11-21 01:05:29|   1| 21|  47|   true|2018|   21|
|2018-11-21 04:28:00|   4| 21|  47|   true|2018|   21|
|2018-11-21 18:39:50|  18| 21|  47|   true|2018|   21|
|2018-11-21 19:03:38|  19| 21|  47|   true|2018|   21|
|2018-11-21 19:22:16|  19| 21|  47|   true|2018|   21|
|2018-11-21 22:01:16|  22| 21|  47|   true|2018|   21|
|2018-11-14 05:45:26|   5| 14|  46|   true|2018|   14|
|2018-11-14 05:57:40|   5| 14|  46|   true|2018|   14|
|2018-11-14 08:14:32|   8| 14|  46|   true|2018|   14|
+-------------------+----+---+----+-------+----+-----+
only showing top 10 rows

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
TABLE:  songs
root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- artist_id: string (nullable = true)

+------------------+--------------------+---------+----+------------------+
|           song_id|               title| duration|year|         artist_id|
+------------------+--------------------+---------+----+------------------+
|SOAOIBZ12AB01815BE|I Hold Your Hand ...| 43.36281|2000|ARPBNLO1187FB3D52F|
|SONYPOM12A8C13B2D7|I Think My Wife I...|186.48771|2005|ARDNS031187B9924F0|
|SODREIN12A58A7F2E5|A Whiter Shade Of...|326.00771|   0|ARLTWXK1187FB5A3F8|
|SOYMRWW12A6D4FAB14|The Moon And I (O...| 267.7024|   0|ARKFYS91187B98E58F|
|SOWQTQZ12A58A7B63E|Streets On Fire (...|279.97995|   0|ARPFHN61187FB575F6|
|SOUDSGM12AC9618304|Insatiable (Instr...|266.39628|   0|ARNTLGG11E2835DDB9|
|SOPEGZN12AB0181B3D|Get Your Head Stu...| 45.66159|   0|AREDL271187FB40F44|
|SOBBUGU12A8C13E95D|Setting Fire to S...|207.77751|2004|ARMAC4T1187FB3FA4C|
|SOBAYLL12A8C138AF9|Sono andati? Fing...|511.16363|   0|ARDR4AC1187FB371A1|
|SOOLYAZ12A6701F4A6|Laws Patrolling (...|173.66159|   0|AREBBGV1187FB523D2|
+------------------+--------------------+---------+----+------------------+
only showing top 10 rows

------------------------------------------------------------------------------------------------------------------------